@charset "utf-8";
/* CSS Document */
h1{
	margin:0px auto;
	width:132px;
	font-weight:normal;
	}
hr{
	border:0px;
	height:3px;
	margin-top:10px;
	background-color:blue;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
	-moz-transition:width 0.5s;
	-o-transition:width 0.5s;
	width:0px;
	}
div{
	margin:0px auto;
	margin-top:40px;
	width:132px;
	text-align:center;
	}
button{
	width:132px;
	font-size:20px;
	background-color:inherit;
	height:35px;
	border-radius:7px;
	border:1px solid #999;
	box-shadow:0px 0px 6px #999;
	outline:none;
	}

hr.active{
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
	-moz-transition:width 0.5s;
	-o-transition:width 0.5s;
	width:132px;
	}
h1.active{
	color:blue;
	}